server/src/Scripts/WOFirstDataPayment-ASP.NET/Site/App_WebReferences/FirstDataGateway/order.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:schema="http://secure.linkpt.net/fdggwsapi/schemas_us/fdggwsapi" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://secure.linkpt.net/fdggwsapi/schemas_us/fdggwsapi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:fdggwsapi="http://secure.linkpt.net/fdggwsapi/schemas_us/fdggwsapi" xmlns:a1="http://secure.linkpt.net/fdggwsapi/schemas_us/a1" xmlns:v1="http://secure.linkpt.net/fdggwsapi/schemas_us/v1" elementFormDefault="qualified" targetNamespace="http://secure.linkpt.net/fdggwsapi/schemas_us/fdggwsapi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import schemaLocation="../schemas_us/v1.xsd" namespace="http://secure.linkpt.net/fdggwsapi/schemas_us/v1" />
      <xs:import schemaLocation="../schemas_us/a1.xsd" namespace="http://secure.linkpt.net/fdggwsapi/schemas_us/a1" />
      <xs:element name="FDGGWSApiOrderRequest">
        <xs:complexType>
          <xs:choice>
            <xs:element ref="v1:Transaction" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="FDGGWSApiActionRequest">
        <xs:complexType>
          <xs:choice>
            <xs:element ref="a1:Action" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="FDGGWSApiOrderResponse">
        <xs:complexType>
          <xs:all>
            <xs:element name="ApprovalCode" type="xs:string" />
            <xs:element name="AVSResponse" type="xs:string" />
            <xs:element name="CommercialServiceProvider" type="xs:string" />
            <xs:element name="ErrorMessage" type="xs:string" />
            <xs:element name="OrderId" type="xs:string" />
            <xs:element name="ProcessorApprovalCode" type="xs:string" />
            <xs:element name="ProcessorReferenceNumber" type="xs:string" />
            <xs:element name="ProcessorResponseCode" type="xs:string" />
            <xs:element name="ProcessorResponseMessage" type="xs:string" />
            <xs:element name="TDate" type="xs:string" />
            <xs:element name="TransactionResult" type="xs:string" />
            <xs:element name="TransactionTime" type="xs:string" />
            <xs:element name="TransactionID" type="xs:string" />
            <xs:element name="CalculatedTax" type="xs:string" />
            <xs:element name="CalculatedShipping" type="xs:string" />
            <xs:element name="TransactionScore" type="xs:string" />
            <xs:element name="AuthenticationResponseCode" type="xs:string" />
            <xs:element name="FraudAction" type="xs:string" />
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="FDGGWSApiActionResponse">
        <xs:complexType>
          <xs:all>
            <xs:element name="Success" type="xs:boolean" />
            <xs:element name="ApprovalCode" type="xs:string" />
            <xs:element name="AVSResponse" type="xs:string" />
            <xs:element name="CommercialServiceProvider" type="xs:string" />
            <xs:element name="ErrorMessage" type="xs:string" />
            <xs:element name="OrderId" type="xs:string" />
            <xs:element name="ProcessorApprovalCode" type="xs:string" />
            <xs:element name="ProcessorReceiptNumber" type="xs:string" />
            <xs:element name="ProcessorReferenceNumber" type="xs:string" />
            <xs:element name="ProcessorResponseCode" type="xs:string" />
            <xs:element name="ProcessorResponseMessage" type="xs:string" />
            <xs:element name="ProcessorTraceNumber" type="xs:string" />
            <xs:element name="TDate" type="xs:string" />
            <xs:element name="TerminalID" type="xs:string" />
            <xs:element name="TransactionResult" type="xs:string" />
            <xs:element name="TransactionTime" type="xs:string" />
            <xs:element name="TransactionID" type="xs:string" />
            <xs:element name="TransactionScore" type="xs:string" />
            <xs:element name="FraudAction" type="xs:string" />
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="FDGGWSApiOrderResponse">
    <wsdl:part name="FDGGWSApiOrderResponse" element="schema:FDGGWSApiOrderResponse" />
  </wsdl:message>
  <wsdl:message name="AVSResponse">
    <wsdl:part name="AVSResponse" element="schema:AVSResponse" />
  </wsdl:message>
  <wsdl:message name="FDGGWSApiActionRequest">
    <wsdl:part name="FDGGWSApiActionRequest" element="schema:FDGGWSApiActionRequest" />
  </wsdl:message>
  <wsdl:message name="FDGGWSApiActionResponse">
    <wsdl:part name="FDGGWSApiActionResponse" element="schema:FDGGWSApiActionResponse" />
  </wsdl:message>
  <wsdl:message name="FDGGWSApiOrderRequest">
    <wsdl:part name="FDGGWSApiOrderRequest" element="schema:FDGGWSApiOrderRequest" />
  </wsdl:message>
  <wsdl:portType name="FDGGWSApiOrder">
    <wsdl:operation name="FDGGWSApiAction">
      <wsdl:input name="FDGGWSApiActionRequest" message="schema:FDGGWSApiActionRequest" />
      <wsdl:output name="FDGGWSApiActionResponse" message="schema:FDGGWSApiActionResponse" />
    </wsdl:operation>
    <wsdl:operation name="FDGGWSApiOrder">
      <wsdl:input name="FDGGWSApiOrderRequest" message="schema:FDGGWSApiOrderRequest" />
      <wsdl:output name="FDGGWSApiOrderResponse" message="schema:FDGGWSApiOrderResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FDGGWSApiOrderBinding" type="schema:FDGGWSApiOrder">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FDGGWSApiAction">
      <soap:operation soapAction="" />
      <wsdl:input name="FDGGWSApiActionRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FDGGWSApiActionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FDGGWSApiOrder">
      <soap:operation soapAction="" />
      <wsdl:input name="FDGGWSApiOrderRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FDGGWSApiOrderResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FDGGWSApiOrderService">
    <wsdl:port name="FDGGWSApiOrderPort" binding="schema:FDGGWSApiOrderBinding">
      <soap:address location="https://ws.firstdataglobalgateway.com:443/fdggwsapi/services" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>